@model Dictionary<int, (string, int, int)>

@{
    ViewData["Title"] = "Холодильник";
}

@section Links {
    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
        <ul class="navbar-nav flex-grow-1">
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Request" asp-action="Request">Заявки </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Fridge" asp-action="ListFridges">Холодильники </a>
            </li>
        </ul>
    </div>
}

<h1>Список продуктов</h1>

<h2>
    Холодильник №@ViewBag.FridgeId
</h2>

<p>
    <a asp-controller="Food" asp-action="ListFoods" asp-route-fridgeId="@ViewBag.FridgeId">Пополнить холодильник</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Продукт
            </th>
            <th>
                Свободно
            </th>
            <th>
                Зарезервировано
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Value.Item1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Value.Item2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Value.Item3)
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <a asp-action="ListFridges">Вернуться назад</a>
</div>
