@model RestaurantWebSupplier.Models.LoginModel
@{
    ViewData["Title"] = "Авторизация";
}
<h1>@ViewData["Title"]</h1>

@using (Html.BeginForm())
{
    @Html.ValidationSummary()
    <p>ФИО: @Html.EditorFor(x => x.SupplierFIO)</p>
    <p>Пароль: @Html.EditorFor(x => x.Password)</p>
    <button type="submit">Войти</button>
}